@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:400,500,700&display=swap");

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?cvir13");
  src: url("fonts/icomoon.eot?cvir13#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?cvir13") format("truetype"),
    url("fonts/icomoon.woff?cvir13") format("woff"),
    url("fonts/icomoon.svg?cvir13#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
