@import "vars";
@import "fonts";
@import "transitions";

@import "components/loader";
@import "components/disclaimer";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html,
body {
  overflow: hidden;
}

html {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #b9a998;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: $z-webgl;
}
