@import "vars";
@import "fonts";

@import "components/loader";
@import "components/disclaimer";
// @import "components/tutorial";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html,
body {
  overflow: hidden;
}

body {
  background-color: #b9a998;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: $z-webgl;
}

.infowindow {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 30;
  display: none;
}

.infowindow .inner {
  position: relative;
  opacity: 0;
  width: 80px;
  height: 80px;
  background: white;
  transform: rotate(45deg);
  left: -50%;
  bottom: 230px;
  cursor: pointer;
}
