.fade-enter-active,
.fade-leave-active {
  transition: opacity 900ms ease-in-out 300ms;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-tooltip-enter-active {
  transition: all 900ms ease-in-out;
}

.slide-fade-tooltip-leave-active {
  transition: all 900ms ease-in-out;
}

.slide-fade-tooltip-enter-from,
.slide-fade-tooltip-leave-to {
  transform: translateX(5%);
  opacity: 0;
}

.slide-fade-title-enter-active {
  transition: all 900ms ease-in-out;
}

.slide-fade-title-leave-active {
  transition: all 900ms ease-in-out;
}

.slide-fade-title-enter-from,
.slide-fade-title-leave-to {
  transform: translateY(-10%);
  opacity: 0;
}
