.fade-enter-active,
.fade-leave-active {
  transition: opacity 300ms ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-menu-enter-active {
  transition: opacity 600ms ease-in-out 600ms;
}

.fade-menu-leave-active {
  transition: opacity 600ms ease-in-out;
}

.fade-menu-enter-from,
.fade-menu-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 900ms ease-in-out;
}

.slide-fade-leave-active {
  transition: all 900ms ease-in-out;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(5%);
  opacity: 0;
}

.slide-fade-log-enter-active {
  transition-property: all;
  transition-duration: 900ms;
  transition-timing-function: ease-in-out;
}

.slide-fade-log-leave-active {
  transition-property: all;
  transition-duration: 900ms;
  transition-timing-function: ease-in-out;
  transition-delay: 300ms;
}

.slide-fade-log-enter-from,
.slide-fade-log-leave-to {
  transform: translateX(5%);
  opacity: 0;
}
